<main>
    {{#with program}}
    <h1>{{excursion.name}} on France</h1>
    <hr>
    <div> <em>{{excursion.date}}</em>
        <div>{{#with excursion}}
            <em>{{location.city}}//{{location.country}}</em>
        </div>
        <div>..................................</div>
        <h2>{{name}}</h2>

    </div>
    </div>
    <hr>
    <div>
        <h2>Your tours:</h2>
        <hr>
    </div>
    <div>
        {{#each program}}
        <div>
            <h2><b>{{name}}</b></h2> - ({{type}}), duration:{{duration}} hours
        </div>

        {{#with details}}
        <div>{{#if museum.name}}
            <li>{{museum.name}}</li>
            {{else}}
            {{null}}
            {{/if}}
            {{#with museum.location}}
            <address>{{address}},{{city}},{{country}}</address>
            {{/with}}
            {{#each museum.exhibits}}
            <ul>
                <li>{{name}}{{#if artist}}<em>({{artist}})</em>{{else}}
                    {{null}}{{/if}}</li>,<q> {{description}} </q>,
                ({{#if audio_guide}}Audio guide{{/if}})
            </ul>
            {{/each}}
            {{#if venue.name}}
            <li>{{venue.name}}</li>
            {{else}}
            {{null}}
            {{/if}}
            {{#with venue.location}}
            <address>{{address}},{{city}},{{country}}</address>
            {{/with}}
            {{#each performers}}
            <ul>
                <li>{{name}}<em>({{type}})</em>
                </li>
            </ul>
            {{/each}}
        </div>
        <div><b>
                Your guide for today:
            </b></div>
        <div> {{guide.name}},({{guide.rating}}) Guide language:/{{guide.language}}/</div>
        <hr>
        {{/with}}


        {{!-- {{#with details.museum}}
        <h3>{{name}}</h3>
        <hr>
        {{#with location}}
        <p><i>Location</i></p> {{address}}, {{city}}
        {{/with}}
        <i>
            <p>Exhibits</p>
        </i>
        {{#each exhibits}}
        <ul>
            <li>
                <p><strong> {{name}} </strong> {{#if audio_guide}}<sup>*audio guide</sup>{{/if}}</p>
                <div><dfn> {{description}} </dfn></div>
            </li>
        </ul>
        {{/each}}
        {{/with}}


        {{#with details.venue}}
        <h3>{{name}}</h3>
        <hr>
        {{#with location}}
        <p><i>Location</i> {{address}}, {{city}} </p>
        {{/with}}
        {{/with}}

        {{#each details.performers}}
        <i>
            <p>Performers:</p>
        </i>

        <ul>
            <li> {{name}} ({{type}}) </li>
        </ul>
        {{/each}}

        {{#with details.guide}}
        <p><i>Guide - </i></p><b> {{name}} </b> (language {{language}})
        {{/with}} --}}




        {{/each}}
    </div>
    {{/with}}





    {{/with}}
</main>