<main class="m-3">
    <header>
        <div>
            {{> shopheader}}
        </div>
    </header>

    <body>
        <div class="mt-5">
            <div>
                {{#with header}}
                <div class="row">
                    <div class="col-9">
                        <h1> {{title}} </h1>
                    </div>
                    {{#with button}}
                    <div class="col-3 text-end">
                        <a href="{{link}}">
                            <button type="button" class="btn btn-outline-secondary">{{text}}
                            </button>
                        </a>
                    </div>
                    {{/with}}

                </div>
                {{/with}}
            </div>
        </div>

        <hr class="my-5">

        <div>
            {{#each goodsBlock}}
            {{> cartGoodsItem}}
            {{/each}}
        </div>

        <hr class="my-5">

        <div>
            {{#with total}}
            <div class="row">
                <div class="col-8">
                    <h2> {{title}} </h2>
                    <h1> {{amount}} </h1>
                    <p> {{delivery}} </p>
                </div>
                <div class="col-4">
                    {{#each buttons}}
                    {{#if isSuccess}}
                    <div>
                        <button type="button" class="btn btn-success mb-4">{{text}}</button>
                    </div>
                    {{/if}}
                    {{#if isOutline}}
                    <div>
                        <button type="button" class="btn btn-outline-success">{{text}}</button>
                    </div>
                    {{/if}}
                    {{/each}}
                </div>
            </div>
            {{/with}}
        </div>

        <hr class="my-5">

        <div>
            {{#with goodsOtherBlock}}
            <h3 class="text-center"> {{title}} </h3>
            <div class="row">
                {{#each cards}}
                {{> shopcard}}
                {{/each}}
            </div>
            {{/with}}
        </div>

        <hr class="my-5">
        <div>
            {{> shopregister}}
        </div>

    </body>

    <footer>
        <div>
            {{>shopfooter}}
        </div>

    </footer>
</main>